@font-face {
  font-family: "AnticSlab-Regular";
  src: local("AnticSlab-Regular"),
    url("../src/assets/Font/AnticSlab-Regular.ttf") format("truetype");
  font-weight: bolder;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "AnticSlab-Regular", sans-serif;
}

.background-image {
  background-image: url("./assets/Images/homepage.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.8;
}
